<div class="surveys_container">
  <h1>Welcome <%= @user.username %></h1>
  <div>
    <a href="/create_survey">
      <div class="create_button">Create Survey
      </div>
    </a>
  </div>

  
  <% if @surveys %>
  <div class="survey_list_container">
    <h3>Polls to take...</h3>
    <table>
        <thead>
          <th>Survey Name</th>
          <th># of Q's</th>
          <th>Creator</th>
          <th># Resp.</th>
        </thead>
      <% @surveys.each do |survey| %>
        <tr>
          <td><a href="/survey/<%= survey.id %>"><%= survey.name %></a></td>
          <td><%= survey.questions.count %></td>
          <td><%= survey.creator.username %></td>
          <td><%= survey.taken_surveys.count %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <% end %>


</div>
