<div class="results_container">
  <h2>Results from your Survey</h2>

  <h3>Survey Name: <%= @survey.name %></h3>
<% @questions.each do |q|%>
<table>
  <thead>
    <th><a href="/charts/<%=q.id %>"><%=q.text %></th>
    <%q.options.each do |o|%>

    <th># of times <%=o.text %> was chosen</th>
    <%end%>
  </thead>
    <tr>
      <td>Total Results:</td>
      <%q.options.each do |o|%>
      <td><%= o.choices.length %></td>
      <%end%>


    </tr>  
</table>
<%end%>



</div>

