<div>
  <h2>Results from your Survey</h2>

  <h3>Survey Name: <%= @survey.name %></h3>
<% @questions.each do |q|%>
<table>
  <thead>
    <th><%=q.text %></th>
    <th><%=q.options.first.text %></th>
    <th><%=q.options.second.text %></th>
  </thead>
    <tr>
      <td>Results:</td>
      <td><%= q.options.first.choices.length %></td>
      <td><%= q.options.second.choices.length %></td>
    </tr>  
</table>
<%end%>



</div>
