<div class="surveys_container">
  <h3><%= @survey.name %></h3>

  <form id="survey" action="/survey/<%= @survey.id %>" method="POST">
  <% @survey.questions.each_with_index do |question, index| %>
    <% if index == 0 %>
      <div class="current_question">
    <% else %>
      <div hidden>
    <% end %>

      <h4><%= index+1 %>. <%= question.text %></h4>
        <% question.options.each do |option| %>
          <input type="radio" name="<%= question.id %>" value="<%= option.id %>" ><%= option.text %><br>
        <% end %>
      </div>

    <% end %>
  <div id="incomplete_question_alert" hidden>
    <h5>You must make a selection to continue...</h5>
  </div>

  <span class="end_of_questions"><input id="survey_submit_button" type="submit" value="Submit"></span>
  </form>

  <form id="survey_next">
    <span><input type="submit" value="Next"></span>
  </form>


</div>
